body {
  margin: -20px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #02C39A;
  position: relative;
  padding-top: 100px;
  height: 638px;
  background: linear-gradient(0deg,#2EB7A9 0%, #3097A4 80%, #3281A1 100%);
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size:5.6em;
  margin-bottom: 0;
  color: #05668D;
  line-height: 2;
  
 
}

h2{
font-size:2.2em;
font-family: 'Montserrat', sans-serif;
color: #05668D;

}


.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  top: 300px;
}
.bottom-cloud2 {
  position: absolute;
  left: 400px;
  top: 700px;
 
}

h3,a{
  color:#028090;
  font-family: 'Montserrat', sans-serif;
}

.caption{
  font-weight: normal;

}

.skill-row{
  width: 50%;
  margin: 100px auto  100px auto;
  text-align: left;
  line-height: 2;


}

.skill2-image{
  width: 20%;
  padding-left: 30px;
  float: right;
}

.skill1-image{
  width: 20%;
  padding-right: 30px;
  float: left;

}

.profile{
  width: 50%;
  margin: 50px auto  50px auto;

  line-height: 2;
}

.headder{
  position: relative;
background-color: #05668D;
height:100%;
height: 60px;
padding-top: 10px;
border-radius: 25px;
background: linear-gradient(180deg,#00A896 0%, #028090 80%, #05668D 100%);

}

hr {
  border:none;
  border-top:10px dotted #028090;
  width:9%;
  align-content: center;
}
.btn{
  width: auto;
  background-color: #00A896;
  color: white;
 padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*border-radius: 6px;*/

}
.linkedin{
  position: relative;
  top: 20px;
font-weight: bold;
  text-decoration: none;
  color:#ffffff;
  
}

.footer{

  position: relative;
  padding-top: 5px;
  height: 20%;
  background-color: #05668D;
  background: linear-gradient(180deg,#00A896 0%, #028090 80%, #05668D 100%);
  font-size: 15px;
}
.copy-right{

  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2;
  padding-top: 20px;
  position: relative;
  
}

.contact-me{

  width: 50%;
  margin: 50px auto  50px auto;
  text-align: center;
  line-height: 2;

}

.nav-list{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 15px;

}

.nav-list li{
    float: right; 
}

.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  
}

li a:hover {
  background-color: #00A896;
  background: linear-gradient(0deg,#00A896 0%, #028090 80%, #05668D 100%);
}

.menu {
  position: absolute;
  left: 62.5rem;
  right:100px;
  z-index: 1;
  align-self: auto;
}

.profile-image{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  left: 100px;
  top: 20px;

}

.header-icon {
  border-radius: 50%;
  background: #00A896;
  opacity: 0.8;
  
}


.profile-image:hover .header-icon {
  opacity: 0.5;
  background: #8CE3D1;
}

.copy-right{
  font-size: 12px;
}

.fa-envelope , .fa-chrome, .fa-safari, .fa-firefox {
  animation: rotation 8s infinite linear;
}



@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
      
  }
 

}




.browsers{
  color: #3281A1;
}